APP_NAME="Pitch My Beer"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost
APP_PORT=8080

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

DB_CONNECTION=mariadb
DB_HOST=docker_sql
DB_DATABASE=pitch-my-beer
DB_PORT=3306
DB_PORT_DEBUG=3306
DB_PORT_DEBUG_TEST=3307
DB_USERNAME=root
DB_PASSWORD=root

CACHE_STORE=file

SESSION_DRIVER=file

VOLUME_SYSTEM_UNIT="metric"
